.headerWrapper {
  width: 100%;
  /* position: fixed; */
  top: 0;
  background-color: #fff;
  z-index: 1000;
  margin: 0 auto;
  height: 50px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1060px;
  height: inherit;
}

@media (max-width: 1252px) {
  .headerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .headerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.navbarMenu {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
}
.hambergerButton {
  list-style: none;
  color: white;
  border: none;
  background-color: white;
  line-height: 14px;
  outline: none;
  margin-top: -2px;
  margin-right: 15px;
}
.mainLogo {
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  margin-left: 10px;
  font-size: 20px;
  line-height: 14px;
}
/* -- header 가운데 글씨부분 -- */
@media (min-width: 992px) and (max-width: 1100px) {
  .navbarList {
    display: flex;
    flex: 1 1;
    font-size: 11px;
  }
}
.navbarList {
  display: flex;
  list-style: none;
  font-size: 14px;
  height: inherit;
  text-align: center;
}
.navbarList li {
  height: 50px; /* NavBar의 height와 navbar의 padding top 사이즈를 합쳐서 이게 hover 그림자의 위치인것임*/
  line-height: 51px;
  cursor: pointer;
}
.navbarList li a {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

/* -- header 오른쪽부분 -- */
.navbarRightSide {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 10px 0;
}
.searchButton {
  background: none;
  border: none;
}
.signUpButton {
  margin: 0;
  background: none;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  padding: 0 14px;
  border: none;
}
.drawSmallLine {
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: 10px;
}
.serviceButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}
